<header class="fixed top-0 left-0 w-full z-50 bg-white shadow-md">
    <nav class="container mx-auto px-4 sm:px-6 py-2 flex items-center justify-between">
        <a href="/{{ lang }}/home">
            <img src="https://res.cloudinary.com/dk5bqpodg/image/upload/v1756747292/smartalk_banner_ke1kkq.svg" alt="Logo Smartalk" class="h-10 sm:h-12">
        </a>
        <ul class="flex items-center space-x-6 sm:space-x-8 text-base sm:text-lg font-semibold text-gray-700">
            <li id="nav-home"><a href="/{{ lang }}/home" class="nav-link hover:text-blue-600 transition-colors duration-300">{% if lang == 'it' %}Home{% else %}Home{% endif %}</a></li>
            <li id="nav-about"><a href="/{{ lang }}/about" class="nav-link hover:text-blue-600 transition-colors duration-300">{% if lang == 'it' %}Chi siamo{% else %}About Us{% endif %}</a></li>
            <li id="nav-contact"><a href="/{{ lang }}/home#contact" class="nav-link hover:text-blue-600 transition-colors duration-300">{% if lang == 'it' %}Contatti{% else %}Contact{% endif %}</a></li>
            <li id="nav-dashboard"><a href="/dashboard.html" class="nav-link hover:text-blue-600 transition-colors duration-300">Dashboard</a></li>
            
            {% if lang == 'it' %}
            <li class="hidden sm:block"><a id="lang-switcher-en" href="/en/{{ page_name }}" class="hover:text-blue-600 transition-colors duration-300"><img src="https://res.cloudinary.com/dk5bqpodg/image/upload/v1756760488/us_flag_icon_peihbg.png" alt="Bandiera Americana" class="w-6 h-auto rounded-full"></a></li>
            {% else %}
            <li class="hidden sm:block"><a id="lang-switcher-it" href="/it/{{ page_name }}" class="hover:text-blue-600 transition-colors duration-300"><img src="https://res.cloudinary.com/dk5bqpodg/image/upload/v1756760488/it_flag_icon_skdtam.png" alt="Bandiera Italiana" class="w-6 h-auto rounded-full"></a></li>
            {% endif %}
        </ul>
    </nav>
</header>