{% extends "abstract_templates/base.html" %}

{% block title %}
    {% if lang == 'it' %}
        Pagina Non Trovata | Smartalk
    {% else %}
        Page Not Found | Smartalk
    {% endif %}
{% endblock %}

{% block content %}
<main class="container mx-auto px-4 sm:px-6 md:px-8 max-w-4xl mt-16">
    <h1>
        {% if lang == 'it' %}
            <p>Pagina non trovata, torna sul sito <a href="/site/{{ lang }}/home">SmartTalk</a></p>
        {% else %}
            <p>Page not found, please return to <a href="/site/{{ lang }}/home">SmartTalk</a> website</p>
        {% endif %}
    </h1>
</main>
{% endblock content %}